/* src/index.css */
/* Importa las directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Para asegurar que el `body` o `html` usen una fuente específica.
   Si no se especifica, Tailwind usará su pila de fuentes por defecto.
   Para 'Inter', asegúrate de importarla en tu index.html. */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Asegúrate de que 'Inter' esté disponible */
}

/* Elimina el padding global para #root si Tailwind gestiona el espaciado interno de los componentes */
#root {
  max-width: none; /* Elimina la restricción de ancho máximo si tus componentes son responsive */
  margin: 0;
  padding: 0;
  text-align: center;
}